<!-- <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>Customer Info</c-card-header>
        <c-card-body>
            <form *ngFor="let dat of customerList">
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputEmail3" style="font-weight: bold;">
                    Customer Name : 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.c_name}}
                      </label>
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Mobile Number : 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.c_mobile}} / {{dat.a_mobile}}
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Dealer ID : 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.dealer_id}} 
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Email ID : 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.email}} 
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Model Name: 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.model_name}} 
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Color: 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.color}} 
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    City : 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.city}} 
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                 State : 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.state}}
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Customer Pan Card Number : 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.c_pan}} 
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                 District : 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.district}}
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                  Pincode : 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.pincode}} 
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Chassis Number: 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.chassis_no}} 
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Battery Number: 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.battery_no}} 
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Battery Number: 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.charger_no}} 
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Controller Number: 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.controller_no}} 
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Amount: 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.amount}} 
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Discount: 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.discount}} 
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                   Date of Sale: 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.sale_date}} - {{dat.sale_time}} 
                      </label>
                  
                  </c-col>
                </c-row>
               
               
                <button cButton type="submit">INVOICE</button>
              </form>
              
      </c-card-body>
    </c-card>
  </c-col>
</c-row> -->

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header style="font-weight: bold; text-align: center;">View Sales Info   </c-card-header>
      <c-card-body>
   
             
             
          
            <table [striped]="true" cTable *ngFor="let dat of customerList">
              <thead>
              <tr style="font-weight:bold;">
                <th scope="col">#</th>
                <th scope="col">Topic</th>
                <th scope="col">Description</th>
            
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">1</th>
                <td style="font-weight:bold">Customer Name : </td>
                <td>{{dat.c_name}}</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td style="font-weight:bold">Mobile Number :
                </td>
                <td>{{dat.c_mobile}} / {{dat.a_mobile}}</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td style="font-weight:bold">Dealer ID :
                </td>
                <td>{{dat.dealer_id}}</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td style="font-weight:bold">Email ID :
                </td>
                <td>{{dat.email}}</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td style="font-weight:bold">Model Name:
                </td>
                <td>{{dat.model_name}}</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td style="font-weight:bold">Color : </td>
                <td>{{dat.color}}</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td style="font-weight:bold">City :</td>
                <td>  {{dat.city}} </td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td style="font-weight:bold">District </td>
                <td>{{dat.district}}</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td style="font-weight:bold">Pincode :</td>
                <td>{{dat.pincode}}</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td style="font-weight:bold">State :</td>
                <td>{{dat.state}}</td>
              </tr>
              <tr>
                <th scope="row">11</th>
                <td style="font-weight:bold">Customer Pan Card Number :
                </td>
                <td> {{dat.c_pan}}</td>
              </tr>
              <tr>
                <th scope="row">12</th>
                <td style="font-weight:bold">Chassis No:
                </td>
                <td> {{dat.chassis_no}}</td>
              </tr>
            
              <tr>
                <th scope="row">13</th>
                <td style="font-weight:bold">Battery No:
                </td>
                <td> {{dat.battery_no}}</td>
              </tr>
              <tr>
                <th scope="row">14</th>
                <td style="font-weight:bold">Controller No:
                </td>
                <td> {{dat.controller_no}}</td>
              </tr>
              <tr>
                <th scope="row">15</th>
                <td style="font-weight:bold">Charger No:
                </td>
                <td> {{dat.charger_no}}</td>
              </tr>
              <tr>
                <th scope="row">16</th>
                <td style="font-weight:bold">Amount :
                </td>
                <td> {{dat.amount}}</td>
              </tr>
              <tr>
                <th scope="row">17</th>
                <td style="font-weight:bold">Discount :
                </td>
                <td> {{dat.discount}}</td>
              </tr>
              <tr>
                <th scope="row">18</th>
                <td style="font-weight:bold">Date Of sale:
                </td>
                <td>  {{dat.sale_date}} - {{dat.sale_time}} </td>
              </tr>
            
            
            
            
              </tbody>
            </table>
                 
            
                  </c-card-body>
                </c-card>
              </c-col>
            </c-row>