<c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>View Complaint  </c-card-header>
        <c-card-body>
            <form *ngFor="let dat of dealer">
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputEmail3" style="font-weight: bold;">
                    Dealer Id : 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.u_id}}
                      </label>
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                    <label cLabel="col" cCol [sm]="2" for="inputEmail3" style="font-weight: bold;">
                      User Type : 
                    </label>
                    <c-col [sm]="10">
                      <label cLabel="col"  for="inputPassword3" >
                          {{dat.user_type}}
                        </label>
                    </c-col>
                  </c-row>
                <c-row class="mb-3">
                  <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                  Dealership Name : 
                  </label>
                  <c-col [sm]="10">
                    <label cLabel="col"  for="inputPassword3" >
                        {{dat.dealership}}
                      </label>
                  
                  </c-col>
                </c-row>
                <c-row class="mb-3">
                    <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                     Phone Number : 
                    </label>
                    <c-col [sm]="10">
                      <label cLabel="col"  for="inputPassword3" >
                          {{dat.phone}}
                        </label>
                    
                    </c-col>
                  </c-row>

                  <c-row class="mb-3">
                    <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Email : 
                    </label>
                    <c-col [sm]="10">
                      <label cLabel="col"  for="inputPassword3" >
                          {{dat.email}}
                        </label>
                    
                    </c-col>
                  </c-row>
                
                <c-row class="mb-3">
                    <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Dealer GST : 
                    </label>
                    <c-col [sm]="10">
                      <label cLabel="col"  for="inputPassword3" >
                          {{dat.gst}}
                        </label>
                    
                    </c-col>
                  </c-row>
                  <c-row class="mb-3">
                    <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Dealer Pan : 
                    </label>
                    <c-col [sm]="10">
                      <label cLabel="col"  for="inputPassword3" >
                          {{dat.pan}}
                        </label>
                    
                    </c-col>
                  </c-row>
                  <c-row class="mb-3">
                    <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Bank Name : 
                    </label>
                    <c-col [sm]="10">
                      <label cLabel="col"  for="inputPassword3" >
                          {{dat.bank}}
                        </label>
                    
                    </c-col>
                  </c-row>
                  <c-row class="mb-3">
                    <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Dealer Outlet-Code : 
                    </label>
                    <c-col [sm]="10">
                      <label cLabel="col"  for="inputPassword3" >
                          {{dat.outlet_code}}
                        </label>
                    
                    </c-col>
                  </c-row>
                  
                  <c-row class="mb-3">
                    <label cLabel="col" cCol [sm]="2" for="inputPassword3" style="font-weight: bold;">
                    Status : 
                    </label>
                    <c-col [sm]="10">
                      <label cLabel="col"  for="inputPassword3" >
                          {{dat.status}}
                        </label>
                    
                    </c-col>
                  </c-row>
                  
               
               
               
               
              </form>
              
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<!-- <c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>View Dealer</c-card-header>
      <c-card-body>
        <table [striped]="true" cTable  *ngFor="let dat of dealer">
     
          <tbody>
          <tr>
       
            <td style="font-weight: bold;">Dealer Id</td>
            <td>{{dat.u_id}}</td>
          </tr>
          <tr>
           
            <td style="font-weight: bold;">User Type</td>
            <td>{{dat.user_type}}</td>
          </tr>
          <tr>

            <td style="font-weight: bold;">Dealership Type</td>
            <td>{{dat.dealership}}</td>
          </tr>
          <tr>
       
            <td style="font-weight: bold;">Mobile Number</td>
            <td>{{dat.phone}}</td>
          </tr>
          <tr>

            <td style="font-weight: bold;">Email</td>
            <td>{{dat.email}}</td>
          </tr>
         
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row> -->


