<c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header style="font-weight: bold; text-align: center;">View Complaint  </c-card-header>
        <c-card-body>
     
               
               
            
              <table [striped]="true" cTable *ngFor="let dat of dealer">
                <thead>
                <tr style="font-weight:bold;">
                  <th scope="col">#</th>
                  <th scope="col">Topic</th>
                  <th scope="col">Description</th>
              
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td style="font-weight:bold">Dealer Id</td>
                  <td>{{dat.u_id}}</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td style="font-weight:bold">User Type</td>
                  <td>{{dat.user_type}}</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td style="font-weight:bold">Dealership Name </td>
                  <td>{{dat.dealership}}</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td style="font-weight:bold">Phone</td>
                  <td>{{dat.phone}}</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td style="font-weight:bold">Email</td>
                  <td>{{dat.email}}</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td style="font-weight:bold">Dealer Gst </td>
                  <td>{{dat.gst}}</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td style="font-weight:bold">Dealer Pan</td>
                  <td>  {{dat.pan}} </td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td style="font-weight:bold">Bank Name</td>
                  <td>{{dat.bank}}</td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td style="font-weight:bold">Dealer Outlet Code</td>
                  <td> {{dat.outlet_code}}</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td style="font-weight:bold">Status</td>
                  <td>{{dat.status}}</td>
                </tr>
                </tbody>
              </table>
                   
              
                    </c-card-body>
                  </c-card>
                </c-col>
              </c-row>
<!-- <c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>View Dealer</c-card-header>
      <c-card-body>
        <table [striped]="true" cTable  *ngFor="let dat of dealer">
     
          <tbody>
          <tr>
       
            <td style="font-weight: bold;">Dealer Id</td>
            <td>{{dat.u_id}}</td>
          </tr>
          <tr>
           
            <td style="font-weight: bold;">User Type</td>
            <td>{{dat.user_type}}</td>
          </tr>
          <tr>

            <td style="font-weight: bold;">Dealership Type</td>
            <td>{{dat.dealership}}</td>
          </tr>
          <tr>
       
            <td style="font-weight: bold;">Mobile Number</td>
            <td>{{dat.phone}}</td>
          </tr>
          <tr>

            <td style="font-weight: bold;">Email</td>
            <td>{{dat.email}}</td>
          </tr>
         
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row> -->


