<c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>Approved Dealers</c-card-header>
        <c-card-body>
          <table
         
            align="middle"
            cTable
            class="table table-striped"
          >
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <!-- <svg cIcon name="cilPeople"></svg> -->
               Dealer Id
              </th>
              <th>Dealer Name</th>
              <th class="text-center">User Type</th>
              <th>Dealership</th>
              <th class="text-center">Status</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dealerList; index as i">
              <td class="text-center">
                <!-- <c-avatar
                  size="md"
                  src="{{ user.avatar }}"
                  status="{{ user.status }}"
                ></c-avatar> -->
                {{user.u_id}}

              </td>
              <td>
                <div>{{ user.name }}</div>
                <div class="small text-medium-emphasis text-nowrap">
                  <!-- <span>
                    {{ user.state }} | Registered: {{ user.registered }}
                  </span> -->
                </div>
              </td>
              <td class="text-center">
                <!-- <svg
                  cIcon
                  id="{{ user.country + user.name }}"
                  name="cif{{ user.country }}"
                  size="xl"
                  title="{{ user.country }}"
                ></svg> -->
                {{user.user_type}}
              </td>
              <td>
               {{user.dealership}}
              </td>
              <td class="text-center">
                <c-form-check sizing="xl" switch>
                  <input cFormCheckInput checked  type="checkbox" (click)="update(user.u_id)" />
    
                </c-form-check>
            
              </td>
              
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>



