<c-carousel [dark]="true" [wrap]="false">
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item *ngFor="let slide of slides; index as i;" style="height: 400px;">
      <img
      style="height: 400px;"
        [src]="slide.src"
        alt="{{slide.title}}"
        class="d-block w-100"
        loading="lazy"
      />
      <!-- <c-carousel-caption class="d-none d-md-block">
        <h3>{{slide.title}}</h3>
        <p>{{slide.subtitle}}</p>
      </c-carousel-caption> -->
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
  <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
</c-carousel>
<br>
<app-widgets-dropdown></app-widgets-dropdown>


<!-- <c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header style="text-align: center;font-weight: bold;">Services </c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6" (click)="Openpage('pages/openreplacement')">
                <div
                  class="border-start border-start-4 border-start-info py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">Total Service Request</div>
                  <div class="fs-5 fw-semibold"> {{replace.total}} </div>
                </div>
              </c-col>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-danger py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">
                    Resolved Services
                  </div>
                  <div class="fs-5 fw-semibold">22,643</div>
                </div>
              </c-col>
            </c-row>

       
          </c-col>

          <c-col >
            <c-row>
              <c-col sm="4"  (click)="Openpage('pages/opencomplaints')">
                <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">Open Complaints</div>
                  <div class="fs-5 fw-semibold"> {{complaints.a}} </div>
                </div>
              </c-col>
              <c-col sm="4" (click)="Openpage('pages/closedcomplanits')">
                <div class="border-start border-start-4 border-start-success py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">Closed Complaints</div>
                  <div class="fs-5 fw-semibold"> {{complaints.b}} </div>
                </div>
              </c-col>
            </c-row>

           
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>  -->


<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header style="text-align: center; font-weight: bold;">Services</c-card-header>
      <c-card-body>
        <c-row>
          <c-col>
            <c-row>
              <c-col sm="4" (click)="Openpage('pages/poapproval')">
                <div
                  class="border-start border-start-4 border-start-info py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">Total Purchase Request</div>
                  <div class="fs-5 fw-semibold"> {{response4.total}} </div>
                </div>
              </c-col>
              <c-col sm="4" (click)="Openpage('pages/openreplacement')">
                <div
                  class="border-start border-start-4 border-start-warning py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">Open Replacement</div>
                  <div class="fs-5 fw-semibold"> {{replace.total}} </div>
                </div>
              </c-col>
              <c-col sm="4" (click)="Openpage('pages/closedpo')">
                <div
                  class="border-start border-start-4 border-start-danger py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">
                   Po Closed
                  </div>
                  <div class="fs-5 fw-semibold">{{response6.total}}</div>
                </div>
              </c-col>
            </c-row>

       
          </c-col>

        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row> 


<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header style="text-align: center; font-weight: bold;">Purchase Orders</c-card-header>
      <c-card-body>
        <c-row>
          <c-col>
            <c-row>
              <c-col sm="4" (click)="Openpage('pages/poapproval')">
                <div
                  class="border-start border-start-4 border-start-info py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">Total Purchase Request</div>
                  <div class="fs-5 fw-semibold"> {{response4.total}} </div>
                </div>
              </c-col>
              <c-col sm="4" (click)="Openpage('pages/approvedpo')">
                <div
                  class="border-start border-start-4 border-start-warning py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small"> Po Approved</div>
                  <div class="fs-5 fw-semibold"> {{response5.total}} </div>
                </div>
              </c-col>
              <c-col sm="4" (click)="Openpage('pages/closedpo')">
                <div
                  class="border-start border-start-4 border-start-danger py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">
                   Po Closed
                  </div>
                  <div class="fs-5 fw-semibold">{{response6.total}}</div>
                </div>
              </c-col>
            </c-row>

            <!-- <hr class="mt-0" /> -->

       
          </c-col>

        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row> 


<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header style="text-align: center; font-weight: bold;">Complaints</c-card-header>
      <c-card-body>
        <c-row>
          <c-col>
            <c-row>
              <c-col sm="4" (click)="Openpage('pages/poapproval')">
                <div
                  class="border-start border-start-4 border-start-info py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">Total Complaints Raised</div>
                  <div class="fs-5 fw-semibold"> {{response4.total}} </div>
                </div>
              </c-col>
              <c-col sm="4" (click)="Openpage('pages/opencomplaints')" >
                <div
                  class="border-start border-start-4 border-start-warning py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small"> Total Complaints Approved</div>
                  <div class="fs-5 fw-semibold"> {{complaints.a}} </div>
                </div>
              </c-col>
              <c-col sm="4" (click)="Openpage('pages/closedcomplanits')">
                <div
                  class="border-start border-start-4 border-start-danger py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">
                    Total Complaints Closed
                  </div>
                  <div class="fs-5 fw-semibold">{{complaints.b}}</div>
                </div>
              </c-col>
            </c-row>

            <!-- <hr class="mt-0" /> -->

       
          </c-col>

        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row> 


<!-- <c-row>
  <c-col lg="4">
    <c-card color="danger"
            textColor=" white"
            class="mb-3">
  
      <c-card-body class="bg">
        <h5 cCardTitle>Total Dealers</h5>
        <p cCardText>
          {{response1.total}} 
        </p>
        <button color="danger" cButton class="shadow" (click)="Openpage('pages/dealerlist')">View More</button>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col lg="4">
    <c-card color="success"
            textColor=" white"
            class="mb-3">
 
      <c-card-body class="bg">
        <h5 cCardTitle>Total Vehicles Sold</h5>
        <p cCardText>
          {{response2.total}} 
        </p>
        <button color="success" cButton class="shadow" (click)="Openpage('pages/customerlist')">View More</button>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col lg="4">
    <c-card color="warning"
            textColor=" white"
            class="mb-3">

      <c-card-body class="bg">
        <h5 cCardTitle>Total Sales</h5>
        <p cCardText>
          {{response3.total}} 
        </p>
        <button color="warning" cButton class="shadow">View More</button>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col lg="4">
    <c-card color="danger"
            textColor=" white"
            class="mb-3">

      <c-card-body class="bg">
        <h5 cCardTitle>Open Complaints</h5>
        <p cCardText>
          {{complaints.a}} 
        </p>
        <button color="danger" cButton class="shadow" (click)="Openpage('pages/opencomplaints')">View More</button>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col lg="4">
    <c-card color="success"
            textColor=" white"
            class="mb-3">

      <c-card-body class="bg">
        <h5 cCardTitle>Closed Complanits </h5>
        <p cCardText>
          {{complaints.b}} 
        </p>
        <button color="success" cButton class="shadow" (click)="Openpage('pages/closedcomplanits')">View More</button>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col lg="4">
    <c-card color="warning"
            textColor=" white"
            class="mb-3">

      <c-card-body class="bg">
        <h5 cCardTitle>Total Sevice Request</h5>
        <p cCardText>
          {{replace.total}} 
        </p>
        <button color="warning" cButton class="shadow" (click)="Openpage('pages/openreplacement')" >View More</button>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>

  <c-col lg="4">
    <c-card color="warning"
            textColor=" white"
            class="mb-3">
   
      <c-card-body class="bg">
        <h5 cCardTitle>Total Po Raised</h5>
        <p cCardText>
          {{response4.total}} 
        </p>
        <button color="warning" cButton class="shadow"(click)="Openpage('pages/poapproval')">View More</button>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col lg="4">
    <c-card color="warning"
            textColor=" white"
            class="mb-3">
 
      <c-card-body class="bg">
        <h5 cCardTitle>Po Approved</h5>
        <p cCardText>
          {{response5.total}} 
        </p>
        <button color="warning" cButton class="shadow"(click)="Openpage('pages/approvedpo')">View More</button>
      </c-card-body>
    </c-card>
  </c-col>

  
  <c-col lg="4">
    <c-card color="danger"
            textColor=" white"
            class="mb-3">

      <c-card-body class="bg">
        <h5 cCardTitle>Po Closed</h5>
        <p cCardText>
          {{response6.total}} 
        </p>
        <button color="danger" cButton class="shadow"(click)="Openpage('pages/closedpo')">View More</button>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
 -->




<c-card class="mb-4">
  <c-card-header style="text-align: center; font-weight: bold;">Growth Chart</c-card-header>

   <c-card-body>
     <c-row>
     <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Total Sale</h4>
        <div class="small text-medium-emphasis">January - December 2023</div>
      </c-col> 
      
     <!-- <c-col class="d-none d-md-block" sm="7">
         <button cButton class="float-end" color="primary">
          <svg cIcon name="cilCloudDownload"></svg>
        </button> -->
      
    </c-row>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="mainChart.options"
      [type]="mainChart.type"
    >
      Main chart
    </c-chart> 
  </c-card-body>
  <c-card-footer>
    <c-row class="text-center" >
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Inventory</div>
        
        <strong>{{response1.total}}</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="success" value="40"></c-progress-bar>
        </c-progress>
      </c-col>
    
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Open Complaints</div>
        <strong>10</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="warning" value="100"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Closed Complaints</div>
        <strong>20</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="danger" value="80"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Replacement Request</div>
        <strong>100</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar value="40"></c-progress-bar>
        </c-progress>
      </c-col>
    </c-row>
  </c-card-footer>
</c-card>

<!-- <app-widgets-brand [withCharts]="true"></app-widgets-brand> -->


<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>New Registrations</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <!-- <svg cIcon name="cilPeople"></svg> -->
               Dealer Id
              </th>
              <th>Dealer Name</th>
              <th class="text-center">User Type</th>
             
              <th class="text-center">Action</th>
              <th class="text-center">Status</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dealerList| paginate
            : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              }; index as i">
              <td class="text-center">
                <!-- <i class="fa fa-eye" (click)="toggleLiveDemo()"></i> -->
                {{user.u_id}}

              </td>
              <td>
                <div>{{ user.name }}</div>
                <div class="small text-medium-emphasis text-nowrap">
                  <!-- <span>
                    {{ user.state }} | Registered: {{ user.registered }}
                  </span> -->
                </div>
              </td>
              <td class="text-center">
                <!-- <svg
                  cIcon
                  id="{{ user.country + user.name }}"
                  name="cif{{ user.country }}"
                  size="xl"
                  title="{{ user.country }}"
                ></svg> -->
                {{user.user_type}}
              </td>
             
              <td class="text-center">
                <!-- <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg> -->
                <i class="fa fa-edit" style="color:red" (click)="land(user.u_id)"></i>
                
              </td>
              <td class="text-center">
                <c-form-check sizing="xl" switch>
                  <input cFormCheckInput [checked]="myfun"  type="checkbox" (click)="update(user.u_id)" />
               
                </c-form-check>
              </td>
              
            </tr>
          </tbody>
        </table>
     <br>
     <div class="d-flex justify-content-center">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row> 


<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Modal title</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>  <table
    [hover]="true"
    [responsive]="true"
    [striped]="true"
    align="middle"
    cTable
    class="mb-0 border"
  >
    <thead cTableColor="light">
      <tr>
        <th class="text-center">
          <!-- <svg cIcon name="cilPeople"></svg> -->
         Dealer Id
        </th>
        <th>Dealer Name</th>
        <th class="text-center">User Type</th>
        <th>Inventory</th>
        <th class="text-center">Action</th>
        <th class="text-center">Status</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of dealerList; index as i">
        <td class="text-center">
          <i class="fa fa-eye" (click)="toggleLiveDemo()"></i>
          {{user.u_id}}
  
        </td>
        <td>
          <div>{{ user.name }}</div>
          <div class="small text-medium-emphasis text-nowrap">
            <!-- <span>
              {{ user.state }} | Registered: {{ user.registered }}
            </span> -->
          </div>
        </td>
        <td class="text-center">
          <!-- <svg
            cIcon
            id="{{ user.country + user.name }}"
            name="cif{{ user.country }}"
            size="xl"
            title="{{ user.country }}"
          ></svg> -->
          {{user.user_type}}
        </td>
        <td>
         {{user.dealership}}
        </td>
        <td class="text-center">
          <!-- <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg> -->
          <i class="fa fa-edit" style="color:red" (click)="land(user.u_id)"></i>
          
        </td>
        <td class="text-center">
          <c-form-check sizing="xl" switch>
            <input cFormCheckInput [checked]="myfun"  type="checkbox" />
         
          </c-form-check>
        </td>
        
      </tr>
    </tbody>
    </table></c-modal-body>

  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary">Save changes</button>
  </c-modal-footer>
</c-modal>

<!-- <c-row>
  <c-col lg="6" xs="12">
    <c-widget-stat-f
      [title]="'Widget Title'"
      class="mb-3"
      color="primary"
      padding
      value="89.9%"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilChartPie" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="6" xs="12">
    <c-widget-stat-f
      [title]="'Widget Title'"
      class="mb-3"
      color="warning"
      padding
      value="89.9%"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilChartPie" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="6" xs="12">
    <c-widget-stat-f
      [title]="'Widget Title'"
      class="mb-3"
      color="primary"
      padding
      value="89.9%"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilChartPie" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <a class="font-weight-bold font-xs text-medium-emphasis"
           href="https://coreui.io/angular"
           target="_blank">
           <div class="d-flex align-items-center justify-content-between">
            <span>View more</span>
            <svg [cIcon]="icons.cilArrowRight" width="16"></svg>
          </div> 
        </a>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="6" xs="12">
    <c-widget-stat-f
      [title]="'Widget Title'"
      class="mb-3"
      color="warning"
      padding
      value="89.9%"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilChartPie" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <a class="font-weight-bold font-xs text-medium-emphasis"
           href="https://coreui.io/angular"
           target="_blank">
          <div class="d-flex align-items-center justify-content-between">
            <span>View more</span>
            <svg [cIcon]="icons.cilArrowRight" width="16"></svg>
          </div> 
        </a>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="6" xs="12">
    <c-widget-stat-f
      [title]="'Widget Title'"
      class="mb-3"
      color="primary"
      value="89.9%"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilChartPie" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="6" xs="12">
    <c-widget-stat-f
      [title]="'Widget Title'"
      class="mb-3"
      color="warning"
      value="89.9%"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilChartPie" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
</c-row> -->

